<p style="color: green"><%= notice %></p>
<div class = "show-nav">
  <%= link_to "Home", restaurants_path %>
  <%= link_to "Edit restaurant", edit_restaurant_path(@restaurant) %>
  <!--
    %= button_to "Destroy this restaurant", @restaurant, method: :delete %>
    -->
</div>

<%= render @restaurant %>

<div>
  <p>Cast Your Vote</p>
</div>

