/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
    margin: 0 auto;
    font-family: "Century Gothic";
    font-size: 18px;
}

nav {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
    margin: 0;
    font-family: "Ink Free";
    font-size: 30px;
}

#search-area {
    padding: 25px;
}

.search-container {
    padding: 20px;
    text-align: center;
}

.search-child {
    width: 15%;
    display: inline-block;
    padding: 30px;
    text-align: left;
}

.form-control {
    padding: 5px;
    width: 100%;
}

.btn {
    padding: 7px;
    background-color: #0F52BA;
    font-size: 18px;
    font-family: "Century Gothic";
    border: none;
    color: white;
    cursor: pointer;
}

.btn-new {
    width: 30%;
    text-decoration: none;
}

.btn-search {
    width: 9%;
}

.btn-primary {
    appearance: auto;
    user-select: none;
    white-space: pre;
    text-align: center;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    color: buttontext;
    padding: 5px 10px;
    border-width: 2px;
    border-style: outset;
    border-image: initial;
    margin: 15px 15px 15px 0;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
    font-family: "Century Gothic";
}

.new-text {
    width: 50%;
    padding: 5px;
    margin-bottom: 10px;
}

.search-text {
    font-family: "Ink Free";
    font-size: 30px;
}

.top-right {
    position: fixed;
    top: 20px;
    right: 20px;
}

table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

td, th {
    padding: 2px 25px;
}

#restaurants {
    width: 75%;
    margin: 0 auto;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-area {
    margin-left: 30px;
}

.show-nav {
    text-align: right;
    margin-right: 20px;
}

.show-nav a {
    margin-right: 25px;
}

.show-restaurant {
    padding: 20px;
    background-color: #0F52BA;
    font-size: 40px;
    font-family: "Ink Free";
    border: none;
    color: white;
    width: 60%;
    text-align: center;
}

.show-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.split-info {
    display: inline-block;
    text-align: center;
    padding: 20px;
    font-size: 40px;
    font-family: "Ink Free";
}

